*{
    margin: 0;
    padding: 0;
} 

body{
    font-family: 'Gabarito', sans-serif;
   background-color: rgb(198, 191, 233);
}

input{
    width:100%;
    padding:10px;
    font-size: 15px;
}
#recipeList{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
    flex-direction:row;

}
h3{
    margin:10px;
}



